In [14]:
!pip install implicit
# Make sure that you have all requirements installed before starting, 
# highly recommend to go to the implicit repo to see all machine requirements. 
import pandas as pd
import json
import requests
import implicit
from scipy import sparse
pd.options.mode.chained_assignment = None

## Our dataset:
To get this dataset please go to: 
https://www.kaggle.com/zygmunt/goodbooks-10k#books.csv



book -- Una tabla de libros con toda su informacion

In [16]:
book = pd.read_csv('books.csv')
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
id                           10000 non-null int64
book_id                      10000 non-null int64
best_book_id                 10000 non-null int64
work_id                      10000 non-null int64
books_count                  10000 non-null int64
isbn                         9300 non-null object
isbn13                       9415 non-null float64
authors                      10000 non-null object
original_publication_year    9979 non-null float64
original_title               9415 non-null object
title                        10000 non-null object
language_code                8916 non-null object
average_rating               10000 non-null float64
ratings_count                10000 non-null int64
work_ratings_count           10000 non-null int64
work_text_reviews_count      10000 non-null int64
ratings_1                    10000 non-null int64
ratings_2                    10000 non-null int64
ratings_3                    10000 non-null int64
ratings_4                    10000 non-null int64
ratings_5                    10000 non-null int64
image_url                    10000 non-null object
small_image_url              10000 non-null object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.8+ MB

ratings -- Una tabla de usuarios y un rating de 1-5 de libros

In [20]:
ratings = pd.read_csv('ratings.csv')
ratings = ratings[ratings['rating'] >= 4].dropna()
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 650327 entries, 0 to 981754
Data columns (total 3 columns):
book_id    650327 non-null int64
user_id    650327 non-null int64
rating     650327 non-null int64
dtypes: int64(3)
memory usage: 19.8 MB

to_read -- Una tabla con usuarios y cada libro que esta en su lista de leer.

In [40]:
to_read = pd.read_csv('to_read.csv')
to_read.head()

   user_id  book_id
0        1      112
1        1      235
2        1      533
3        1     1198
4        1     1874

In [21]:
train = book.merge(ratings, on='book_id')
train = train.drop_duplicates(['user_id','book_id'],keep='first')
train['score'] = train.rating.mod(4) + 1
train = train[['book_id','user_id','score']]
train.head()

   book_id  user_id  score
0        3     3662      1
1        3     5115      1
2        3     5272      2
3        3     5885      1
4        3     6063      2

In [23]:
train['book_cat'] = train['book_id'].astype('category').cat.codes
train['user_cat'] = train['user_id'].astype('category').cat.codes

book_map = train.drop_duplicates(['book_id','book_cat'],keep='last')
matrix = sparse.csr_matrix((
                train.score.values,
                (train.book_cat.values,
                train.user_cat.values)),
                shape=(len(train['book_cat'].unique()), len(train['user_cat'].unique())))
item_matrix = matrix.T.tocsr()
matrix

<812x23230 sparse matrix of type '<class 'numpy.int64'>'
	with 52946 stored elements in Compressed Sparse Row format>

In [38]:
model = implicit.als.AlternatingLeastSquares(factors=800,iterations=1,regularization=0.01)
model.fit(matrix)

100%|████████████████████████████████████████████████████████████████████████████████| 14.0/14 [00:00<00:00, 19.37it/s]

In [39]:
user_cat = 20
recommendation = model.recommend(user_cat,item_matrix,100,filter_already_liked_items=True)
recommendation

[(450, 0.054436143),
 (400, 0.045950767),
 (769, 0.04551361),
 (671, 0.042196408),
 (461, 0.03656152),
 (385, 0.031812377),
 (791, 0.030836033),
 (505, 0.029319003),
 (602, 0.02810475),
 (238, 0.027889963),
 (162, 0.026016302),
 (217, 0.025197253),
 (228, 0.025079984),
 (136, 0.0248105),
 (287, 0.024321048),
 (595, 0.023526367),
 (159, 0.023436077),
 (507, 0.02328435),
 (259, 0.023007367),
 (235, 0.022355888),
 (732, 0.02172082),
 (195, 0.021694543),
 (800, 0.02150014),
 (279, 0.021446295),
 (560, 0.021003263),
 (236, 0.020244367),
 (718, 0.01975438),
 (242, 0.019319665),
 (297, 0.019102752),
 (257, 0.018910158),
 (803, 0.01798072),
 (295, 0.017617803),
 (659, 0.01759948),
 (641, 0.0173206),
 (762, 0.017229829),
 (687, 0.017165244),
 (436, 0.016591834),
 (200, 0.016503317),
 (273, 0.016116813),
 (600, 0.01567422),
 (455, 0.015377777),
 (500, 0.015302204),
 (356, 0.015156066),
 (258, 0.0150397215),
 (416, 0.0146467015),
 (300, 0.014630882),
 (743, 0.014601708),
 (698, 0.014298257),
 (243, 0.01425018),
 (204, 0.014204142),
 (283, 0.014028693),
 (534, 0.013985687),
 (780, 0.013922302),
 (635, 0.013766927),
 (652, 0.01358301),
 (284, 0.0134866275),
 (10, 0.013333789),
 (276, 0.013250393),
 (750, 0.013189735),
 (306, 0.01316503),
 (362, 0.01310754),
 (203, 0.013033912),
 (692, 0.012935621),
 (765, 0.01287988),
 (786, 0.012804164),
 (470, 0.012765098),
 (783, 0.012627438),
 (704, 0.012627419),
 (9, 0.012625337),
 (59, 0.012490562),
 (679, 0.012442718),
 (353, 0.012439545),
 (528, 0.012407722),
 (302, 0.012351135),
 (95, 0.012092003),
 (11, 0.012044419),
 (261, 0.012038805),
 (178, 0.011942616),
 (723, 0.011915389),
 (629, 0.011802921),
 (13, 0.011668189),
 (343, 0.011555014),
 (312, 0.011356618),
 (405, 0.011333883),
 (190, 0.0113275265),
 (582, 0.011311586),
 (439, 0.010927782),
 (245, 0.010672115),
 (568, 0.01005802),
 (352, 0.00994394),
 (73, 0.009851072),
 (318, 0.009790295),
 (272, 0.009755961),
 (103, 0.009684834),
 (382, 0.009661673),
 (288, 0.009638738),
 (47, 0.00961673),
 (280, 0.009526322),
 (781, 0.009440559),
 (516, 0.00933991)]

In [27]:
def get_book_info(book_cat):
    book_id = book_map[book_map.book_cat == book_cat]['book_id'].values[0]
    book_isbn = book[book.book_id == book_id]['isbn'].values[0]
#     book_isbn = '0' + str(book_isbn)
#     url = 'https://www.googleapis.com/books/v1/volumes?q=isbn:'
#     response = requests.get(url + book_isbn)
#     json_response = json.loads(response.text)
#     try:
#         title = json_response['items'][0]['volumeInfo']['title']
#         author = json_response['items'][0]['volumeInfo']['authors'][0]
#         category = json_response['items'][0]['volumeInfo']['categories'][0]
#         return title, author, category
#     except Exception:
#         return book_isbn
    return book[book.isbn == book_isbn][['authors','original_title']].values

In [37]:
for rec in recommendation:
    book_rec = rec[0]
    print(get_book_info(book_rec))

[['Maud Hart Lovelace, Lois Lenski' 'Betsy-Tacy']]
[['Tom Robbins' 'Still Life with Woodpecker']]
[['Tom Standage' 'A History of the World in 6 Glasses']]
[['Max Brooks' 'World War Z: An Oral History of the Zombie War']]
[['J.R.R. Tolkien' 'The Hobbit or There and Back Again']]
[["Julia Child, Alex Prud'Homme" 'My Life in France']]
[['Roald Dahl, Quentin Blake' 'The Witches']]
[['John Grisham' 'The Firm']]
[['Raymond Chandler' 'The Big Sleep']]
[['Jhumpa Lahiri' 'Interpreter of Maladies']]
[['Louis de Bernières' "Captain Corelli's Mandolin"]]
[['Scott Turow' 'The Burden of Proof']]
[['J.K. Rowling' nan]]
[['Michael Crichton' 'Rising Sun']]
[['Douglas Coupland' 'All Families Are Psychotic']]
[['Pat Barker' 'Regeneration']]
[['Ian Fleming' 'Moonraker']]
[['Hermann Hesse, Ursule Molinaro' 'Narziß und Goldmund']]
[['Ernest Hemingway' 'The Snows of Kilimanjaro and Other Stories']]
[['John Grisham' 'The Last Juror']]
[['Beryl Markham' 'West with the Night']]
[['Åsne Seierstad, Ingrid Christopherson' 'Bokhandleren i Kabul']]
[['Harold Bloom, Terry Southern, David H. Goldsmith, James Lundquist, Lawrence R. Broer, Peter J. Reed, Loree Rackstraw, William S. Doxey, Jerome Klinkowitz, Richard Giannone, John L. Simons, Leonard Mustazza, Zoltan Ab di-Nagy, Peter Freese, Wendy B. Faris'
  "Kurt Vonnegut's Cat Cradle"]]
[['Franz Kafka, Jason Baker, Donna Freed'
  'Die Verwandlung und andere Erzählungen']]
[['Arthur Conan Doyle' 'The Adventures of Sherlock Holmes']]
[['J.D. Salinger' 'Franny and Zooey']]
[['Dr. Seuss' nan]]
[['Janet Evanovich' 'Three to Get Deadly']]
[['Gary Paulsen' 'The River']]
[['Alice  Miller, Ruth Ward'
  'Das Drama des begabten Kindes und die Suche nach dem wahren Selbst: eine Um- und Fortschreibung']]
[['Neil Gaiman' 'Anansi Boys']]
[['Tom Robbins' 'Villa Incognito']]
[['George Orwell' 'Keep the Aspidistra Flying']]
[['Paulo Coelho, Alan R. Clarke' 'As Valkírias']]
[['Mary McGarry Morris' 'Songs in Ordinary Time']]
[['David Mitchell' 'number9dream']]
[['Salman Rushdie' 'The Ground Beneath Her Feet']]
[['Ian Fleming' 'Live and Let Die']]
[['Dave Pelzer' nan]]
[['George Bernard Shaw, Alan Jay Lerner'
  'Pygmalion and My Fair Lady (50th Anniversary Edition) (Signet Classics (Paperback))']]
[['Dan Simmons' 'Ilium']]
[['Marian Keyes' 'The Other Side of the Story']]
[['Mark Haddon' 'A Spot of Bother']]
[['J.M. Coetzee' 'Disgrace']]
[]
[['Joyce Carol Oates' 'We Were the Mulvaneys']]
[['Zadie Smith' 'The Autograph Man']]
[['Dan Simmons' 'The Terror']]
[['Barbara Taylor Bradford' 'A Woman of Substance ']]
[['Vladimir Nabokov' 'Pale Fire']]
[['Robert Louis Stevenson' 'Treasure Island']]
[['Monty Roberts, Lucy Grealy, Lawrence Scanlan'
  'The Man Who Listens to Horses']]
[['Roald Dahl, Quentin Blake' 'Boy: Tales of Childhood']]
[['Steve Krug'
  "Don't Make Me Think! A common sense approach to web usability"]]
[['Tucker Max' 'I Hope They Serve Beer in Hell']]
[['Sarah Dessen' 'Dreamland ']]
[['Tom Wolfe' 'The Bonfire of the Vanities']]
[['Dan Brown' 'Deception Point']]
[['Roald Dahl, Quentin Blake' 'Danny: The Champion of the World']]
[['Brian Jacques, Gary Chalk' 'Mariel of Redwall']]
[['Roald Dahl, Quentin Blake' nan]]
[['Emily Brontë, Richard J. Dunn' 'Wuthering Heights']]
[['Oscar Wilde, Jeffrey Eugenides' 'The Picture of Dorian Gray']]
[['Arthur Conan Doyle'
  'Sherlock Holmes: The Complete Novels and Stories, Volume I']]
[['Tracy Chevalier' 'Falling Angels']]
[['Jane Hamilton, Frank  Muller, C.J. Critt' 'A Map of the World']]
[['Roald Dahl, Quentin Blake'
  'Charlie and the Great Glass Elevator: The Further Adventures of Charlie Bucket and Willy Wonka, Chocolate-Maker Extraordinaire']]
[['Malcolm Gladwell'
  'The Tipping Point: How Little Things Can Make a Big Difference']]
[['Marjane Satrapi, Anjali Singh' nan]]
[['Chuck Palahniuk' 'Stranger Than Fiction: True Stories']]
[['Wilkie Collins, Carolyn G. Heilbrun' 'The Moonstone']]
[['George Eliot, Edmund White' 'Daniel Deronda']]
[['John Grisham' 'The Brethren']]
[['Doris Kearns Goodwin, Suzanne Toren'
  'Team of Rivals: The Political Genius of Abraham Lincoln']]
[['Homer, Robert Fagles, E.V. Rieu, Frédéric Mugler, Bernard Knox'
  'Ὀδύσσεια']]
[['Jorge Luis Borges, Andrew Hurley' 'El Aleph']]
[['Anna Sewell' 'Black Beauty']]
[['John Grisham' 'Bleachers']]
[['Anton Chekhov, Richard Pevear, Larissa Volokhonsky'
  'Рассказы и Повести']]
[['Tite Kubo' 'BLEACH―ブリーチ―\u30001']]
[['Hiromu Arakawa, Akira Watanabe' '鋼の錬金術師 1']]
[['Lois Lowry' 'The Giver']]
[['Dr. Seuss' 'The Lorax']]
[['J.K. Rowling, Mary GrandPré' 'Harry Potter and the Goblet of Fire']]
[['Orhan Pamuk, Erdağ M. Göknar' 'Benim Adım Kırmızı']]
[['John Grisham' 'The Rainmaker']]
[['Lalita Tademy' 'Cane River']]
[['W. Chan Kim, Renée Mauborgne'
  'Blue Ocean Strategy: How to Create Uncontested Market Space and Make Competition Irrelevant']]
[['David Foster Wallace' 'The Broom of the System']]
[['Barbara Kingsolver' 'The Poisonwood Bible']]
[['Roald Dahl, Quentin Blake' 'James and the Giant Peach']]
[['Haruki Murakami, Philip Gabriel' '海辺のカフカ [Umibe no Kafuka]']]
[['Joan Didion' 'The Year of Magical Thinking']]
[['Michael Crichton' 'Congo']]
[['Gabriel García Márquez, Edith Grossman'
  'El amor en los tiempos del cólera']]
[['Gustave Flaubert, Margaret Mauldon, Malcolm Bowie, Mark Overstall'
  'Madame Bovary']]
[['Elizabeth Berg' 'Open House']]
[['Mitch Albom, Saulius Dagys' 'Tuesdays with Morrie']]
[['Stephen Hawking' 'The Universe in a Nutshell']]
[['Patricia Cornwell' "From Potter's Field"]]

In [32]:
books_read = train[train.user_cat == user_cat]['book_cat'].values
for b in books_read:
    print(get_book_info(b))

[['Douglas Adams, Mark Carwardine' 'Last Chance to See']]

In [35]:
similar_items = model.similar_items(12)
print(f"Libros Similares a {get_book_info(12)}\n")
for tuple in similar_items:
    similar_item = tuple[0]
    print(get_book_info(similar_item))

Libros Similares a [['Bill Bryson' 'The Lost Continent: Travels in Small-Town America']]

[['Bill Bryson' 'The Lost Continent: Travels in Small-Town America']]
[['J.K. Rowling, Mary GrandPré'
  'Harry Potter and the Order of the Phoenix']]
[['Bill Bryson' 'A Short History of Nearly Everything']]
[['J.K. Rowling, Mary GrandPré' 'Harry Potter and the Half-Blood Prince']]
[['Bill Bryson' 'Notes from a Big Country']]
[['Bill Bryson' 'Down Under']]
[['Bill Bryson' 'Neither Here Nor There: Travels in Europe']]
[['Johanna Spyri, Angelo  Rinaldi, Beverly Cleary' 'Heidi']]
[['Douglas Adams'
  "The Ultimate Hitchhiker's Guide: Five Complete Novels and One Story"]]
[['Bill Bryson' 'Notes from a Small Island']]